script.
	$(document).ready( function() {
		deleteRequest();
	});


a.btn.btn-primary( href="/admin/page" ) New Page

if pages.length > 0
	table.table.table-striped
		thead
			tr
				th Title
				th Url
				th Date Modified
				th
		tbody
			each page in pages
				tr
					th
						a(href="/pages#{page.url}")= page.title
					th
						span= page.url
					th
						span= (new Date(page.date)).toDateString()
					th
						button.btn-link(
							data-delete="/pages#{page.url}"
							data-json="{hi:1}"
							style="font-weight:bold;"
						) Delete
						a(href="/pages#{page.url}?edit=1") Edit
else
	h2 ^ No pages found. Click up there to make one!       
