a.btn.btn-primary( href="/admin/template" ) New Template

table.table.table-striped
	thead
		tr
			th Title
			th
	tbody
		each template in admin.templates()
			if template != 'blank'
				tr
					th
						b= template
					th
					
						button.btn-link(
							data-delete="/template/#{template}"
							style="font-weight:bold;"
							data-json="{hi:1}"
						) Delete
					
						a(href="/template/#{template}")
							b Edit
						
